<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>CustomFilter</filter-name>
        <filter-class>filter.CustomFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>listener.CustomAsyncListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.CustomHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.CustomServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>customServlet</servlet-name>
        <servlet-class>servlet.CustomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customServletOne</servlet-name>
        <servlet-class>servlet.CustomServletOne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customServletTwo</servlet-name>
        <servlet-class>servlet.CustomServletTwo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>customServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customServletOne</servlet-name>
        <url-pattern>/1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customServletTwo</servlet-name>
        <url-pattern>/2</url-pattern>
    </servlet-mapping>

</web-app>

